*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
}
footer{
    color: white;
    padding: 5px , 20px;
    text-align: center;
}
.social-item{
    list-style: none;
    color: white;
  
}
.social li a{
    font-size: 176%;
    padding-right: 20px;
    
}
.social{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding-left: 0px;
}
.end{
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1.3px;
    font-size: 138%;
}
.foot ul li a, .contact a{
    color: white;
    text-decoration: none;
}
.social li a i{
    color: #6b6b6b;
    transition: all 0.3s linear;
}
.social li a i:hover{
    transform: scale(1.4);
}
footer h5::after{
    display: block;
    height: 3px;
    width: 100px;
    background-color: wheat;
    content: " ";
    margin: 5px auto;
}

/*PACKAGE SEC*/
#Packages .fas{
    font-size: 120%;
}
#Packages{
    padding: 60px;
    padding-bottom: 80px;
}
#Packages h1{
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 1.3px;
    font-size: 300%;
}
#Packages .card{
    height: 55vh;
}
.fa-star{
    color: rgb(247, 196, 67);
    font-size: 95%;
}
.read{
    background-color: orange;
    padding: 20px;
    color: white;
    font-weight:500;
    font-size: 110%;
}
.read a{
    text-decoration: none;
    color: white;
}
.card-img-top{
    height: 60%;
}
.card p{
    font-size: 90%;
    font-weight: 540;
}
.card-body h5{
    font-family: 'Courgette', cursive;
    font-weight: 570;
}

.box{
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all ease 400ms;
}
.box .flipper{
    transform-origin: 100% 213.5px;
}
.flipper{
    transform: perspective(1000px);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    color: black;
}
.front, .back{
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}

.front{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: transparent;     
    z-index: 2;
    width: 100%;
}

.back{
    transform: rotateY(-180deg);
    position: relative;
    width: 100%;
}
.back .card{
    background-color: #b8ec51;
    font-weight: 600;
}
.back .card i{
    color: palevioletred;
}
.box:hover .front{
    transform: rotateY(180deg);
}

.box:hover .back{
    transform: rotateY(0deg);
}

a.box.text-center{
    text-decoration: none;
}

/*ABOUT*/
#About img{
    width: 400px;
    height: 350px;
}
#About{
    padding: 50px;
}
.about1{
    padding: 35px;
}
.btn:link ,
.btn:visited{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    transition: 1s;
}
.btn-half:link,
.btn-half:visited{
    color: white;
    background-color: #26a897;
}
.btn-half:hover,
.btn-half:active{
    color: #26a897;
    border: 3px solid #26a897;
    background-color: white;
    font-weight: 600;
}
.modal-content{
    background-color: #4b5e6e;
    color: white;
}
#readModal h2{
    font-family: 'Acme', sans-serif;
}
#readModal .modal-body img{
    border: 3px solid yellow;
    border-radius: 20px;
}
#About h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 270%;
}
#About img{
    box-shadow: 5px 5px 1px rgb(127, 235, 211);
    transition: 1s;
    border: 5px solid black;
}
#About img:hover{
    transition: 1s transform;
    transform: scale(1.15);
    border: 20px solid black;
}

/*EXPLORE SEC*/
#Explore{
    margin-top: 10px;
    background-image: url('image/explore.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 93vh;
    color: white;
}
.explore{
    background: rgba(0,0,0,0.5);
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Explore #first{
    font-size: 400%;
    text-shadow: 4px 4px 2px green;
}
#Explore #second{
    font-size: 340%;
    font-family: 'Times New Roman', Times, serif;
}

/*THEMES*/
#Themes{
    padding: 45px;
    padding-bottom: 60px;
}
#Themes .element{
    height: 30vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
#Themes .element img{
    height: 9vh;
    transition: all .5s linear;
}
#Themes .element img:hover {
    transform: translateY(-13px);
}
#Themes a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    color: #62637C;
    font-weight: 600;
}

/*MEDIAQUERY*/
@media only screen and (max-width : 767px)
{
    html,body{
        font-size: 14px;
    }
    .social li a{
        font-size: 170%;
        padding-right: 15px;
    }
    #About img{
        width: 420px;
        height: 300px;
    }
}

