.cards
{
    display: flex;
    justify-content: space-evenly ;
}

.box-1 ,.box-2,.box-3,.box-4
{
    border-radius: 10px !important;
    color: rgb(255, 251, 251);
}


.box-1
{
    background-image: linear-gradient(rgba(255, 16, 183, 0.2),rgba(0,0,0,0),rgba(14, 1, 10, 1)), url(image/delhi.jpg);
    background-position: right;
    background-size: cover;
}
.box-2
{
    background-image: linear-gradient(rgba(255, 16, 183, 0.7),rgba(245, 20, 215, 0),rgba(14, 1, 10, 0.9)), url(image/kashmir.jpg);
    background-position: center;
    background-size: cover;
}

.box-3
{
    background-image: linear-gradient(rgba(248, 47, 248, 0.7),rgba(245, 20, 215, 0),rgba(14, 1, 10, 1)), url(image/kerela.jpg);
    background-position: center;
    background-size: cover;
}
.box-4
{
    background-image: linear-gradient(rgba(235, 8, 178, 0.7),rgba(245, 20, 215, 0),rgba(14, 1, 10, 1)), url(image/rajasthan.jpg);
    background-position: center;
    background-size: cover;
}


.boxes h2
{
    font-size: 30px;
    font-style: italic;
    margin-top: 250px;
    position: relative;
}



.hovere::after
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7)
}

#bn1 ,#bn2 ,#bn3, #bn4
{
  position: absolute;
  top: 45%;
  left: 25%;
  opacity: 0;
  z-index: 99999;
}

.visible
{
    opacity: 0;
}
